{{page-title "Accueil"}}
<div class="flex flex-col h-screen font-comfortaa">
  <nav>
    On retrouvera un menu ici
    {{! Votre menu }}
  </nav>
  <main class="flex flex-grow">
    <div class="w-full p-8">
      Et notre contenu ici
      {{outlet}}
    </div>
  </main>
</div>